@model BestellserviceWeb.Models.TblKunde

@{
    ViewData["Title"] = "Create";
    List<TblGeschlecht> geschlechter = ViewBag.geschlechter;
}

<h1>Create</h1>

<h4>TblKunde</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KunVorname" class="control-label"></label>
                <input asp-for="KunVorname" class="form-control" />
                <span asp-validation-for="KunVorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KunNachname" class="control-label"></label>
                <input asp-for="KunNachname" class="form-control" />
                <span asp-validation-for="KunNachname" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <select asp-for="KunGeschlecht" name="geschlecht" id="KunGeschlecht">
                    @for(int i = 0; i < geschlechter.Count(); i++)
                    {
                         <option value="@geschlechter.ElementAt(i).GesId">@geschlechter.ElementAt(i).GesGeschlecht</option>
                    }
                </select>
            </div>
            -->
            <div class="form-group">
            @Html.LabelFor(model => model.KunGeschlecht, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("KunGeschlecht",new SelectList(geschlechter, "GesId", "GesGeschlecht"), "--Auswahl--", new { @class = "form-control" })
           </div>
               <span asp-validation-for="KunGeschlecht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KunGeburtsdatum" class="control-label"></label>
                <input asp-for="KunGeburtsdatum" class="form-control" />
                <span asp-validation-for="KunGeburtsdatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KunVip" class="control-label"></label>
                <input asp-for="KunVip" class="form-control" type="checkbox" />
                <span asp-validation-for="KunVip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
