@model BestellserviceWeb.Models.LeistungsbilderProjektList

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblLeistungsbilderProjekt</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="ProjektID" class="control-label"></label>
				<select asp-for="ProjektID" class="form-control" asp-items="ViewBag.LeistpProjekt"></select>
			</div>
			<table>
				<tbody>
					@for (int i = 0; i < Model.Leistungsbild.Count(); i++)
					{
						<tr>
							<td>
								@Html.CheckBoxFor(model => model.LeistungsbildActive[i])
							</td>
							<td>
								@Html.DisplayFor(model => model.Leistungsbild[i].LeistName)
							</td>
							<td>
								@Html.EditorFor(model => model.MoneyAmount[i])
							</td>
						</tr>
					}
				</tbody>
			</table>
		
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
